@model IEnumerable<Dominio.Entidades.TipoPlanta>

@{
    ViewData["Title"] = "IndexSinLogin";
}
@if (Model.Count() != 0)
{
    <h1>Compras por Tipo de planta</h1>
    <h3> (sin login)</h3>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Ver Compras", "ComprasPorTipoPlantaId", "Compras", new { id = item.id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 style="color:red">Lo sentimos, no hay ningun tipo de planta disponible</h3>
}