@model ProyectoWeb.Models.PlantaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlantaDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreCientifico" class="control-label">Nombre cientifico</label>
                <input asp-for="nombreCientifico" class="form-control" readonly value="@Model.nombreCientifico" />
                <span asp-validation-for="nombreCientifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo:</label>
                <select asp-for="IdTipoPlantaSeleccionada" value="@Model.TipoPlantaSeleccionado.id">
                    @foreach (var tipo in Model.TiposPlanta)
                    {
                        <option value="@tipo.id">@tipo.nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Ficha:</label>
                <select asp-for="IdFichaSeleccionada" value="@Model.FichaSeleccionada.id">
                    @foreach (var ficha in Model.Fichas)
                    {
                        <option value="@ficha.id">Luz: @ficha.tipoIluminacion.iluminacion | Riego: @ficha.frecuenciaRiego.cantidad vez por @ficha.frecuenciaRiego.tiempo | Temperatura: @ficha.temperatura °C</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="nombresVulgares" class="control-label">Nombres vulgares</label>
                <input asp-for="nombresVulgares" class="form-control" value="@Model.nombresVulgares" />
                <span asp-validation-for="nombresVulgares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label">Descripción</label>
                <input type="text" asp-for="descripcion" class="form-control" value="@Model.descripcion" minlength="10" />                
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambiente" class="control-label">Ambiente</label>
                <select asp-for="ambiente" value="@Model.FichaSeleccionada.id">
                    @foreach (var opcion in Enum.GetValues(typeof(PlantaViewModel.Ambiente)))
                    {
                        int val = (int)opcion;
                        <option value="@val">@opcion.ToString()</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="alturaMaxima" class="control-label">Altura máxima (cm)</label>
                <input asp-for="alturaMaxima" class="form-control" />
                <span asp-validation-for="alturaMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="foto" class="control-label">Nombre de foto</label>
                <input asp-for="foto" class="form-control" />
                <span asp-validation-for="foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label">Precio (UYU)</label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ingresadoPor" class="control-label">Autor</label>               
                <input asp-for="EmailUsuarioAutor"class="form-control" readonly value="@Model.ingresadoPor.email"/>               
                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>